html, body {
  height: 100%;
  width: 100%;
  margin: auto;
}

*{
  font-family: 'Playfair Display', serif;
}

/* Navbar */
.topnav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #B68E26;
}

.logo{
  height: 100px;
  width: 100px;
  filter: brightness(0) invert(1);
}

#myLinks, #icon{
  padding-top: 25px;
}

/* Banner Section */
.banner{
  text-align: center;
  color: white;
  padding: 100px 0 150px 0;
}

.banner-container{
  background-image: url("images/banner.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.banner-h1, .banner-h2{
  /* background-color: black; */
  width: fit-content;
  margin:auto;
  vertical-align:middle;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
}

.banner-h1{
  font-size: 30px;
  font-weight: bold;
}

.banner-h2{
  margin: 30px auto;
  font-style: italic;
  font-size: 20px;
}

button{
  background-color: #B68E26;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* About Section */
.about-section{
  background-color: #1d1d1d;
  margin: 0px;
}

img{
  width: 250px;
  /* margin: 20px; */
}

.centered{
  display: flex;
  justify-content: center;
  align-content: center;
}

h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:'Playfair Display', serif;
  margin: 0;
  color: #B68E26;
  font-size: 30px;
}

h3{
  text-align: center;
  color: white;

}

p{
  color: white;
  margin: 20px ;
  margin-bottom: 0px;
  /* padding-bottom: 20px; */
  line-height: 2;
  font-size: 13px;
}

/* h1 {
  animation-duration: 2s;
  animation-name: slidein1;
}

h2{
  /* animation-duration: 2s;
  animation-name: slidein1; 
  transition: 1s;
  left: 0;
} */
/* 
@keyframes slidein2{
  from {
    margin-right: 100%;
    width:fit-content;
  } */
/* 
  to {
    margin-right: 26%;
    /* width: 100%; */
  /* }
} */

/* @keyframes slidein1 {
  from {
    margin-left: 100%;
    /* width: 300%; */
  /* }

  to {
    margin-left: 38%;
    width: 100%; 
  }
}*/

/* Albums Section */
.mySlides{
  display:none;
}

.albums{
  background-image: url("images/black-baground.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

h3{
  font-size: 20px;
}

a{
  color: #B68E26;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Comment Section */
.comment-section{
  height: 100%;
  width: 100%;
  background-image: url("images/disc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

input{
  width: 80%;
  margin-top: 5%;
  padding: 5px;
  padding-bottom: 30%;
}

#comment{
  margin-top: 20px;
}

#unordered{
  background-color: white;
  width: 80%;
  margin-top: 20px;
  border-radius: 2px;
}

/* Donation Section */
.donate-section{
  background-image: url(images/black-baground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#total{
  color: white;
  padding: 0px 0px 20px 20px;
}

.donate-btns{
  padding: 25px;
  flex-direction: row;
  justify-content: space-between;
}

#customize{
  padding: 10px;
  margin-top: -2px;
  width: 40px;
  height: 35px;
}

/* Footer Section */
footer{
  height: 100px;
  background-color: #1d1d1d;
  color: white;
}