html, body {
  height: 100%;
  width: 100%;
  margin: auto;
}

html{
  scroll-behavior: smooth;
}

*{
  font-family: 'Playfair Display', serif;
}

/* Navbar */
.topnav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #B68E26;
}

.logo{
  height: 100px;
  width: 100px;
  filter: brightness(0) invert(1);
}

#myLinks, #icon{
  padding-top: 25px;
}

.desktop-container{
  display: none;
}

/* Banner Section */
.banner{
  text-align: center;
  color: white;
  /* padding: 100px 0 150px 0; */
  padding-top: 150px;
  height: 600px;
}

.banner-container{
  background-image: url("images/banner.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.banner-h1, .banner-h2{
  /* background-color: black; */
  width: fit-content;
  margin:auto;
  vertical-align:middle;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
}

.banner-h1{
  font-size: 30px;
  font-weight: bold;
}

.banner-h2{
  margin: 30px auto;
  font-style: italic;
  font-size: 20px;
}

button{
  background-color: #B68E26;
  border: none;
  padding: 8px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* About Section */
.about-section{
  background-color: #1d1d1d;
  margin: 0px;
}

.about-desk{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  width: 250px;
}

.centered{
  display: flex;
  justify-content: center;
  align-content: center;
}

h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:'Playfair Display', serif;
  margin: 0;
  color: #B68E26;
  font-size: 30px;
}

h3{
  text-align: center;
  color: white;

}

p{
  color: white;
  margin: 20px ;
  margin-bottom: 0px;
  /* padding-bottom: 20px; */
  line-height: 2;
  font-size: 13px;
}

/* h1 {
  animation-duration: 2s;
  animation-name: slidein1;
}

h2{
  /* animation-duration: 2s;
  animation-name: slidein1; 
  transition: 1s;
  left: 0;
} */
/* 
@keyframes slidein2{
  from {
    margin-right: 100%;
    width:fit-content;
  } */
/* 
  to {
    margin-right: 26%;
    /* width: 100%; */
  /* }
} */

/* @keyframes slidein1 {
  from {
    margin-left: 100%;
    /* width: 300%; */
  /* }

  to {
    margin-left: 38%;
    width: 100%; 
  }
}*/

/* Albums Section */
.mySlides{
  display:none;
}

.albums-container{
  background-image: url("images/black-baground.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

h3{
  font-size: 20px;
}

a{
  color: #B68E26;
  text-decoration: none;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Comment Section */
.comment-section{
  height: 100%;
  width: 100%;
  background-image: url("images/disc.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}

input{
  width: 300px;
  margin-top: 5%;
  height: 50px;
  padding: 5px;
  /* padding-bottom: 30%; */
}

#comment{
  margin-top: 20px;
}

#unordered{
  background-color: white;
  width: 300px;
  margin-top: 20px;
  border-radius: 2px;
}

/* Donation Section */
.donate-section{
  background-image: url(images/black-baground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#total{
  color: white;
  padding: 0px 0px 20px 20px;
}

.donate-btns{
  padding: 25px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#customize{
  padding: 10px;
  margin-top: -2px;
  width: 40px;
  height: 35px;
}

/* Footer Section */
footer{
  height: 100px;
  background-color: #1d1d1d;
  color: white;
}

.mySlides {
  display: block;
}
.albums {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.albums-container {
  max-height: 100%;
  overflow: hidden;
}

.mySlides {
  width: 100%;
}
/* Media query for desktop view */
@media screen and (min-width: 768px) {
 .albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mySlides {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 800px){
  .about-desk{
    display: flex;
    flex-direction: row;
    height: 700px;
  }

  .about-image{
    width: 600px;
    height: fit-content;
    margin:0px 0px 70px 70px;
  }

  .banner-container{
    height: 700px;
  }

  .desktop-container{
    display: block;
  }

  .mobile-container{
    display: none;
  }  

  .navbar, .nav-links{
    display: flex;
    justify-content: space-between;
  }

  .nav-links{
    gap: 50px;
    margin-right: 50px;
    color: white;
  }

  p{
    text-align: center;
  }

  .donate-btns{
    justify-content: center;
    gap: 30px;
  }

  #total{
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mySlides {
    width: 100%;
    display: none;
  }

  .mySlides:first-child {
    display: block;
  }

  .albums-container{
    height: 1000px;
  }
}